@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

// body::-webkit-scrollbar,
// textarea::-webkit-scrollbar,
// #chatBox::-webkit-scrollbar {
//   width: 0;
// }

::selection {
  background-color: rgb(4 120 87);
  color: white;
}

// for the GitHubCalendar component
.react-activity-calendar__calendar {
  width: 270%;
  max-width: max-content;
}
.react-activity-calendar__scroll-container::-webkit-scrollbar {
  width: 20;
}

@media (min-width: 1024px) {
  .react-activity-calendar__calendar {
    width: 101.9%;
  }
  .react-activity-calendar__scroll-container::-webkit-scrollbar {
    width: 0;
  }
}

@layer utilities {
  .drag-none {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .fade-in > * {
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.14, 0.64, 0.51, 0.94);
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up > * {
    animation-name: fade-in-up;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.14, 0.64, 0.51, 0.94);
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-left > * {
    animation-name: fade-in-left;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.14, 0.64, 0.51, 0.94);
  }
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @for $i from 1 through 24 {
    .fade-in > :nth-child(#{$i}),
    .fade-in-up > :nth-child(#{$i}),
    .fade-in-left > :nth-child(#{$i}) {
      animation-delay: #{$i / 20}s;
    }
  }

  .wave {
    animation: wave 2.5s ease-in-out infinite;
  }
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .online {
    animation: online 2s infinite;
  }
  @keyframes online {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(29, 185, 84, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 8px rgba(29, 185, 84, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(29, 185, 84, 0);
    }
  }

  .scale-in {
    animation: scale-in 80ms ease-out;
  }
  @keyframes scale-in {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .fade-opacity {
    animation: fade-opacity 1.6s ease-in;
  }
  @keyframes fade-opacity {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: scale(1);
      rotate: 6deg;
      opacity: 1;
    }
  }

  .page404 {
    animation: glitch 1s linear infinite;
  }
  .page404:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  .page404:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  .page404:after,
  .page404:before {
    content: attr(title);
    position: absolute;
    left: 0;
  }
  @keyframes glitch {
    2%,
    64% {
      transform: translate(2px, 0) skew(0);
    }
    4%,
    60% {
      transform: translate(-2px, 0) skew(0);
    }
    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
  @keyframes glitchTop {
    2%,
    64% {
      transform: translate(2px, -2px);
    }
    4%,
    60% {
      transform: translate(-2px, 2px);
    }
    62% {
      transform: translate(13px, -1px) skew(-13deg);
    }
  }
  @keyframes glitchBotom {
    2%,
    64% {
      transform: translate(-2px, 0);
    }
    4%,
    60% {
      transform: translate(-2px, 0);
    }
    62% {
      transform: translate(-22px, 5px) skew(21deg);
    }
  }
}
